<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogs&Projects</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-xtra-blog.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
<!--    <link href="./css/vuetify.min.css" rel="stylesheet">-->
    <!--    引入vue2.0框架-->
    <script src="./js/vue/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/common.js"></script>
    <!--    Element-UI framework-->
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.14.1/lib/index.js"></script>
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                <h1 class="text-center">Welcome to Zijun Zhou's Blogs</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item active"><a href="projects.html" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Projects
                    </a></li>
                    <li class="tm-nav-item"><a href="web.html" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Me
                    </a></li>
                    <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Me
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
            The whole project is constructed by Zijun Zhou. The front-end pages use some components from Element-UI.For more information about me, please press the 'About Me'
		    button!
            </p>
        </div>
    </header>
    <div class="container-fluid" id="app">
        <main class="tm-main">
            <!-- Search form -->
            <div style="margin-left: auto">
            <el-input placeholder="Enter Project Names(Powered By Elasticsearch)--Zijun Zhou" v-model="title" @keyup.enter.native="fetchData" style="margin-bottom: 20px;width:45%" >
                <el-button @click="fetchData" slot="append" icon="el-icon-search"></el-button>
            </el-input>
            <el-row v-for="(v,k,i) in aggs" :key="i">
                <div style="display:inline-block; width:100px;margin-bottom: 10px">{{map[k]}}:</div> <el-button @click="handlerFilter(k,item1)" style="display: inline-block" plain :type="(onlyIfPresent(k,item1))?'success':'info'" v-for="(item1,q) in v" :key="q" ><font style="color: darkgreen">{{item1}}</font></el-button>
<!--                <el-button plain :type="(onlyIfPresent(k))?'success':'info'" v-for="(v,k,i) in aggs" :key="i" @click="handlerFilter(k)"><font style="color: darkgreen">{{k+'('+ v+')'}}</font></el-button>-->
            </el-row>
            <div>
            </div>
            <transition name="el-fade-in-linear">
                <el-row v-loading="show">
            <div class="row tm-row">
                <article v-for="(item,i) in items" :key="i" class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a :href="'project.html?id='+item.id" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img :src="item.image" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{item.name}}</h2>
                    </a>                    
                    <p class="tm-pt-30">
                       Main Framework: {{item.salepoint}}
                    </p>
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Designed and Implemented All By Zijun Zhou</span>-->
<!--                        <span class="tm-color-primary">{{huajun.formatDate(Number(item.display_time+''))}}</span>-->
<!--                    </div>-->
                    <hr>
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>{{item.commentstatus?'36 comments':'Comment Options Disabled'}}</span>-->
<!--                        <span>by {{item.author}}</span>-->
<!--                    </div>-->
                    <p class="tm-pt-30">
                    Designed and Implemented All By Zijun Zhou
                    </p>
                </article>
<!--                <article class="col-12 col-md-6 tm-post">-->
<!--                    <hr class="tm-hr-primary">-->
<!--                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">-->
<!--                        <div class=" tm-post-link-inner">-->
<!--                            <img src="img/img-02.jpg" alt="Image" class="img-fluid">                            -->
<!--                        </div>-->
<!--                        <span class="position-absolute tm-new-badge">New</span>-->
<!--                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Multi-purpose blog template</h2>-->
<!--                    </a>                    -->
<!--                    <p class="tm-pt-30">-->
<!--                        <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank">Xtra Blog</a>  is a multi-purpose HTML CSS template from TemplateMo website.-->
<!--                        Blog list, single post, about, contact pages are included. Left sidebar fixed width and content area is a fluid full-width.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Creative . Design . Business</span>-->
<!--                        <span class="tm-color-primary">June 16, 2020</span>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>48 comments</span>-->
<!--                        <span>by Admin Sam</span>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="col-12 col-md-6 tm-post">-->
<!--                    <hr class="tm-hr-primary">-->
<!--                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">-->
<!--                        <div class="tm-post-link-inner">-->
<!--                            <img src="img/img-03.jpg" alt="Image" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">How can you apply Xtra Blog</h2>-->
<!--                    </a>                    -->
<!--                    <p class="tm-pt-30">-->
<!--                        You are <u>allowed</u> to convert this template as any kind of CMS theme or template for your custom website builder. -->
<!--                        You can also use this for your clients. Thank you for choosing us.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Music . Audio</span>-->
<!--                        <span class="tm-color-primary">June 11, 2020</span>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>24 comments</span>-->
<!--                        <span>by John Walker</span>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="col-12 col-md-6 tm-post">-->
<!--                    <hr class="tm-hr-primary">-->
<!--                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">-->
<!--                        <div class="tm-post-link-inner">-->
<!--                            <img src="img/img-04.jpg" alt="Image" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">A little restriction to apply</h2>-->
<!--                    </a>                    -->
<!--                    <p class="tm-pt-30">-->
<!--                        You are <u>not allowed</u> to re-distribute this template as a downloadable ZIP file on any template collection-->
<!--                        website. This is strongly prohibited as we worked hard for this template. Please contact TemplateMo for more information.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Artworks . Design</span>-->
<!--                        <span class="tm-color-primary">June 4, 2020</span>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>72 comments</span>-->
<!--                        <span>by Admin Sam</span>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="col-12 col-md-6 tm-post">-->
<!--                    <hr class="tm-hr-primary">-->
<!--                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">-->
<!--                        <div class="tm-post-link-inner">-->
<!--                            <img src="img/img-05.jpg" alt="Image" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Color hexa values of Xtra Blog</h2>-->
<!--                    </a>                    -->
<!--                    <p class="tm-pt-30">-->
<!--                        If you wish to kindly support us, please contact us or contribute a small PayPal amount to info [at] templatemo.com that is helpful for us.-->
<!--                        <br>-->
<!--                        Title #099 New #0CC <br>-->
<!--                        <span class="tm-color-primary">Text #999 Line #CCC Next #0CC Prev #F0F0F0</span>-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Creative . Video . Audio</span>-->
<!--                        <span class="tm-color-primary">May 31, 2020</span>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>84 comments</span>-->
<!--                        <span>by Admin Sam</span>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="col-12 col-md-6 tm-post">-->
<!--                    <hr class="tm-hr-primary">-->
<!--                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">-->
<!--                        <div class="tm-post-link-inner">-->
<!--                            <img src="img/img-06.jpg" alt="Image" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Donec convallis varius risus</h2>-->
<!--                    </a>                    -->
<!--                    <p class="tm-pt-30">-->
<!--                        Quisque id ipsum vel sem maximus vulputate sed quis velit. Nunc vel turpis eget orci elementum cursus vitae in eros. Quisque vulputate nulla ut dolor consectetur luctus.-->
<!--                    </p>-->
<!--                    <div class="d-flex justify-content-between tm-pt-45">-->
<!--                        <span class="tm-color-primary">Visual . Artworks</span>-->
<!--                        <span class="tm-color-primary">June 16, 2020</span>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <span>96 comments</span>-->
<!--                        <span>by Admin Sam</span>-->
<!--                    </div>-->
<!--                </article>-->
            </div>
                </el-row>
            </transition>
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <div class="mb-2 tm-mr-20"></div>
                </div>
                <div class="tm-paging-wrapper">
<!--                    <span class="d-inline-block mr-3">Page</span>-->
                    <nav class="tm-paging-nav d-inline-block">
                        <el-pagination
                                :page-size.sync="listQuery.limit"
                                :current-page.sync="listQuery.page"
                                :total="total"
                                layout="total, prev, pager, next, jumper">
                        </el-pagination>
                        <ul>
                        </ul>
                    </nav>
                </div>                
            </div>
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">Zijun Zhou(周子骏)</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Powered By RabbitMQ, Vue.js, Element UI, Webpack, Vue-cli, SpringBoot, MySQL, Redis, Elasticsearch, Quartz, WebDriver, Docker in CentOS, Spring Cloud, etc.
                </div>
            </footer>
        </main>
    </div>
    <script src="js/project.js"></script>
    <script type="text/javascript">
        const map={
            '持久层':'persistency',
            '前端':'front-end',
            '框架':'framework'
        }
        const app=new Vue({
            el:'#app',
            data:{
                name:'test',
                Project,
                listQuery:{
                    page:1,
                    limit:6,
                    name:'',
                    filter:{
                        '持久层':[],
                        '前端':[],
                        '框架':[]
                    }
                },
                map,
                items:[],
                totalPages:0,
                total:0,
                huajun,
                title:'',
                show:true,
                aggs:{}
            },
            created(){
                let obj=huajun.parse(location.search.substring(1))
                this.title=obj['name'];
             this.fetchData();
            },
            methods:{
                formatDate(data){
                    return new Date(Number(data+''));
                },
                fetchData(){
                    const listQuery=JSON.parse(JSON.stringify(this.listQuery));
                    listQuery['name']=this.title;
                    // listQuery['filter'].category=this.listQuery.filter.category.join(",");
                    this.show=true;
                    Project.fetchProjects(listQuery)
                        .then(({data:{items,totalPages,total,aggs,specs}})=>{
                            this.totalPages=totalPages;
                            this.items=items;
                            this.total=total;
                            this.show=false;
                            this.aggs=specs;
                        })
                },
                handlerFilter(k,v){
                    if(this.onlyIfPresent(k,v)){
                        const listQuery=JSON.parse(JSON.stringify(this.listQuery));
                        Object.keys(listQuery.filter).forEach((key)=>{
                           let value=listQuery.filter[key];
                            if(key===k){
                                listQuery.filter[key]=value.filter(fk=>{
                                    return fk!==v;
                                })
                            }
                        })
                        this.listQuery=listQuery;
                    }else{
                        this.listQuery.filter[k].push(v);
                    }
                },
                //返回filter中是否有此元素
                onlyIfPresent(k,v){
                    let flag=false;
                    Object.keys(this.listQuery.filter).forEach((key)=> {
                        if (key === k) {
                            this.listQuery.filter[key].forEach(v1 => {
                                if (v1 === v) {
                                    flag=true;
                                }
                            })
                        }
                    } );
                    return flag;
                }
            },
            watch:{
                listQuery:{
                    deep:true,
                    handler(){
                     this.fetchData();
                    }
                }
            }
        })
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>
